#reportrange {
    height: auto;
}

.box-title span {
color:#808080;
}

hr {
    margin-top: 10px;
    margin-bottom: 3px;
}
.pagination {
    margin: 20px 0 0 0;
}

.box .overlay > .fa, .overlay-wrapper .overlay > .fa {
    color: #808080;
}

.table-information > tbody > tr > td {
    border-top: 0;
    padding-bottom:0px;
    padding-left:0px;
}

    .table-information > tbody > tr > td:first-child {
        
        width: 100px;
        white-space: nowrap;
    }

    .table-information > tbody > tr > td:nth-child(2) {
        font-weight: bold;
        width: auto;
    }
    .table tr th {
    text-transform: uppercase;
}
    .table-information > tbody > tr > td > label {
        padding: 0 2px;
        background: #ecf0f5;
        text-transform: uppercase;
        font-weight: normal;
        padding: 2px 4px;
        width:100%;
    }

.bg-light-blue-gradient .table-information > tbody > tr > td > label {
    background: inherit;
}

.table-information > tbody > tr {
    border-top: 0;
}

.table-information {
    border-radius: 5px;
    margin-bottom: 0px;
}
 .limited {
            word-wrap: break-word;
        }

        .tbl-sort-btn {
            white-space: nowrap;
            cursor: pointer;
        }


        
.modal > .overlay,
.overlay-wrapper > .overlay,
.modal > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal .overlay,
.overlay-wrapper .overlay {
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.modal .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.modal .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}